$mainColor: #D3D4D9;
$secondaryColor: #EC526f;
$textColor: #272635;

html{
    background-color: $mainColor;
    background-image: url(images/shapes_1_no_border.png), url(images/shapes_2.png), url(images/shapes_3.png), url(images/shapes_4.png);
    background-position: 50% 100%, 50% 35%, 50% 95%, 50% 20%;
    background-size: 400px, 150px, 250px, 150px, 150px;
    background-repeat: no-repeat;

    h2{
        color: $secondaryColor;
        background-color: $mainColor;
    }
    a, a:visited{
        color: $textColor;
    }

    overflow-x: hidden;
}

body{
    padding: 5px 5px 0 5px;
    overflow: hidden;
    margin:0;
    height:100%;
}

.wrapper{
    padding-bottom:5px;
    position: relative;
    display: grid;
    margin:auto; 
    width:85%;
    height:100%;
    grid-template-areas: 
    "top top top"
    "left mid right";
    grid-template-columns: 1.5fr .25fr 1fr;
    grid-template-rows: 50px auto;  
}

.pageTitle{
    display: block;
    margin:auto;
    img{
        display: block;
        max-height:50px;
        margin-left: auto;
        margin-right: auto;
    }
}

h2{
    text-align: left;
    font-size: 2em;
    margin-top:0;
    margin-bottom:0;
}

.support_artists{
    text-align: center;
    width:50%;
    margin:15px auto;
    padding: 0 0 15px 0;
    color: $secondaryColor;
}

.topFour{
    margin-bottom:10px;
    margin-top:15px;
}

.albumCovers{
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;

    p{
        text-align: center;
        font-size:1.2em;
        margin-top:0;
    }
}

.larger-text {
    //background-color: red;
    font-size: 1.2em;
    //padding-bottom: 50px;
}

.box{
    //position: relative;
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    width: 250px;
    height:100px;
    padding:25px 0;
    margin:auto auto 25px auto;
    img{
        max-height: 100px;
        position: relative;
        left: 0px;
        //padding:0 15px 0 25px;
        //background-color:red;
    }
    p{
        position: relative;
        font-size: .9em;
        word-wrap: break-word;
        width:50%;
        //background-color: purple;
        align-self: center;
    }
    box-shadow: 5px 5px 5px black;
}

.playlist{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    margin:auto;
    color: $secondaryColor;
    width:100%;

}

.display-playlist{
    iframe{
        //width:50px;
        height:450px;
    }
}

.lineMarks {
    line-height: 10%;
    text-align: center;
}

.lineMarks span {
    display: inline-block;
    position: relative;
}

.lineMarks span:before,
.lineMarks span:after {
    content: "";
    position: absolute;
    height: 5px;
    border-bottom: 1px solid $textColor;
    top: -1%;
    width: 100px;
}

.lineMarks span:before {
    right: 90%;
    margin-right: 12px;
}

.lineMarks span:after {
    left: 90%;
    margin-left: 12px;
}

.footer{
    position: relative;
    bottom:0;
    left:0;
    // display: flex;
    // flex-flow: row nowrap;
    // justify-content: flex-end;
    display: grid;
    grid-template-areas: "spacer logo logo instagram";
    grid-template-columns: 1fr 2fr 1fr;
    //background-color: purple;

    margin-right: 5%;
    .logo{
        margin:auto;
        grid-area: logo;
        img{
        max-height: 65px;
        }
    }

    .insta{
        grid-area:instagram;
        margin:auto;
        img{
        max-height: 25px;
        }
    }

}

@media only screen and (max-width:841px){

    html, body{
        overflow: visible;
    }
    
    .wrapper{
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        margin:auto;
        margin-bottom:50px;
        padding-top:15%;
    }

    .pageTitle{
        order: 1;
        margin:0 auto 0 auto;
        height: 75px;
    }

    .topFour{
        order:2;
        margin-bottom: 10px;
        height:150%;
        h2 {
            text-align: center;
        }
    }

    .playlist{
        order:3;
        //margin:50px auto 100px auto;
        text-align: center;
        h2{
            text-align: center;
        }
        iframe{
            width:100%;
        }
    }

    .box{
        padding-bottom: 15px;
        a{
            color: $textColor;
        }
        a:visited {
            color: $textColor;
        }
    }
}