html {
  background-color: #D3D4D9;
  background-image: url(images/shapes_1_no_border.png), url(images/shapes_2.png), url(images/shapes_3.png), url(images/shapes_4.png);
  background-position: 50% 100%, 50% 35%, 50% 95%, 50% 20%;
  background-size: 400px, 150px, 250px, 150px, 150px;
  background-repeat: no-repeat;
  overflow-x: hidden;
}
html h2 {
  color: #EC526f;
  background-color: #D3D4D9;
}
html a, html a:visited {
  color: #272635;
}

body {
  padding: 5px 5px 0 5px;
  overflow: hidden;
  margin: 0;
  height: 100%;
}

.wrapper {
  padding-bottom: 5px;
  position: relative;
  display: grid;
  margin: auto;
  width: 85%;
  height: 100%;
  grid-template-areas: "top top top" "left mid right";
  grid-template-columns: 1.5fr 0.25fr 1fr;
  grid-template-rows: 50px auto;
}

.pageTitle {
  display: block;
  margin: auto;
}
.pageTitle img {
  display: block;
  max-height: 50px;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  text-align: left;
  font-size: 2em;
  margin-top: 0;
  margin-bottom: 0;
}

.support_artists {
  text-align: center;
  width: 50%;
  margin: 15px auto;
  padding: 0 0 15px 0;
  color: #EC526f;
}

.topFour {
  margin-bottom: 10px;
  margin-top: 15px;
}

.albumCovers {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}
.albumCovers p {
  text-align: center;
  font-size: 1.2em;
  margin-top: 0;
}

.larger-text {
  font-size: 1.2em;
}

.box {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  width: 250px;
  height: 100px;
  padding: 25px 0;
  margin: auto auto 25px auto;
  box-shadow: 5px 5px 5px black;
}
.box img {
  max-height: 100px;
  position: relative;
  left: 0px;
}
.box p {
  position: relative;
  font-size: 0.9em;
  word-wrap: break-word;
  width: 50%;
  align-self: center;
}

.playlist {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  margin: auto;
  color: #EC526f;
  width: 100%;
}

.display-playlist iframe {
  height: 450px;
}

.lineMarks {
  line-height: 10%;
  text-align: center;
}

.lineMarks span {
  display: inline-block;
  position: relative;
}

.lineMarks span:before,
.lineMarks span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 1px solid #272635;
  top: -1%;
  width: 100px;
}

.lineMarks span:before {
  right: 90%;
  margin-right: 12px;
}

.lineMarks span:after {
  left: 90%;
  margin-left: 12px;
}

.footer {
  position: relative;
  bottom: 0;
  left: 0;
  display: grid;
  grid-template-areas: "spacer logo logo instagram";
  grid-template-columns: 1fr 2fr 1fr;
  margin-right: 5%;
}
.footer .logo {
  margin: auto;
  grid-area: logo;
}
.footer .logo img {
  max-height: 65px;
}
.footer .insta {
  grid-area: instagram;
  margin: auto;
}
.footer .insta img {
  max-height: 25px;
}

@media only screen and (max-width: 841px) {
  html, body {
    overflow: visible;
  }

  .wrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    margin: auto;
    margin-bottom: 50px;
    padding-top: 15%;
  }

  .pageTitle {
    order: 1;
    margin: 0 auto 0 auto;
    height: 75px;
  }

  .topFour {
    order: 2;
    margin-bottom: 10px;
    height: 150%;
  }
  .topFour h2 {
    text-align: center;
  }

  .playlist {
    order: 3;
    text-align: center;
  }
  .playlist h2 {
    text-align: center;
  }
  .playlist iframe {
    width: 100%;
  }

  .box {
    padding-bottom: 15px;
  }
  .box a {
    color: #272635;
  }
  .box a:visited {
    color: #272635;
  }
}

/*# sourceMappingURL=style.css.map */
